
/* wrapper for page */
.section {
    width: 375px ;
    margin: 0 auto;
}

.figure { 
width: 375px;
}
.figure img {
  width: 100%;
}
.label {
  font-weight: bolder;
}


@media screen and (min-width: 768px) {

    .sectionWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section {
        margin: 20px;
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
    
    }
   .contentWrapper {
       display: flex;    
   }

   .figure {
       margin-right: 1em;
   }
 
   .genres, .actors {
       display: flex;
   }
   .genres ul, .actors ul {
       padding-left: 10px;
   }
   .genres li, .actors li {
       list-style: none;
       margin-left: 10px;
   }
   ul:nth-child(2) {
       display: flex;
   }
  

  }