.card,
.card *{
  background: rgb(29, 29, 29);
}

.card{
  max-width: 270px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: rgb(29, 29, 29);
  color:#FFF;
  padding: 10px;
  position: relative;
}

.card *{
  margin: 0;
}

.top{
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom{
  padding: 10px;
  border-top: none;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
}
.bottom *{
  color: #FFF;
}

.title{
  width: 80%;
  padding: 5px;
  flex-basis: 100%;
  color: #FFF;
  margin-right: 30px;
}

.delete{
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  position: absolute;
  top: 13px;
  right: 10px;
  background-color: transparent;
}
.delete svg path { color: #bbb; }
.delete svg path:hover { color: rgb(251, 251, 251); }

@media (min-width: 992px) {
  .card{
  }
}

@media only screen and (max-width: 600px) {

  .card {
   margin-right: auto;
   margin-left: auto;
  }


}