.card,
.card *{
  background: rgb(29, 29, 29);
}

.card{
  height: 30vh;
  display: flex;
  flex-direction: column;
  background: rgb(29, 29, 29);
  color:#FFF;
  padding:8px;
  font-size: 15px;
  
}

.card *{
  margin: 0;
}

.top{
  color: #FFF;
  border: 2px dashed rgba(219, 219, 219, 0.5);
  flex-basis: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showingInfo {
  margin-top:-40px;
}

.bottom{
  padding: 10px;
  border: 2px dashed rgba(219, 219, 219, 0.5);
  border-top: none;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom *{
  color: #FFF;
}

.title{
  width: 100%;
  padding: 5px;
  flex-basis: 100%;
  color: #FFF;
}

.delete{
  padding: 0.5rem;
  margin: 0;
  color: #000;
}

@media (min-width: 992px) {
  .card{
    flex-basis: 25%;
  }
}