.card,
.card *{
  background: rgb(29, 29, 29);
}

.card{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background: rgb(29, 29, 29);
  color:#FFF;
  padding: 10px;
  position: relative;

}

.card *{
  margin: 0;
}

.top{
  color: #FFF;
  /* border: 2px dashed rgba(219, 219, 219, 0.5); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom{
  padding: 10px;
  /* border: 2px dashed rgba(219, 219, 219, 0.5); */
  border-top: none;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
}
.bottom *{
  color: #FFF;
}

.title{
  width: 100%;
  padding: 5px;
  flex-basis: 100%;
  color: #FFF;
}

.delete{
  padding: 0.5rem;
  margin: 0;
  border: none;
  position: absolute;
  top: 13px;
  right: 10px;
  background-color: transparent;
}
.delete svg path { color: #bbb; }
.delete svg path:hover { color: rgb(251, 251, 251); }

@media (min-width: 992px) {
  .card{
    flex-basis: 25%;
  }
}

@media only screen and (max-width: 600px) {




}