.booking_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookingcomponent {
  width: 75vw;
  margin: auto;
  padding: 75px 0rem 25px;
}

.ticketContainer {
  margin: 0.5rem auto;
  background-color: #353535;
  display: flex;
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0 10px;
}

.bookingInfo {
  position: relative;
  width: 85%;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

.bookingInfo >*:nth-child(2){
  position: absolute;
  right: 3rem;
}

.ticketContainer select {
  background-color: #353535;
  border: none;
  border-radius: 5px;
}

.ticketContainer select:hover {
  background-color: #0501029c;
  cursor: pointer;
}

.ticketContainer p, .buyTickets p {
  background-color: inherit;
}

.buyTickets {
  padding: 10px;
  border-radius: 10px;
  background-color: #353535;
  margin-top: 3rem;
  display: grid;
  width: 100%;
  height: auto;
}

.ticketsInfo {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.buyButton {
  text-align: center;
  padding: 10px;
  background-color: #5b5f63;
  justify-content: center;
  border: 2px solid #5b5f63;
  border-radius: 5px;
}


.active {
  background: #4387FC;
  border: 2px solid #4387FC;
}

.active:hover {
  background: #3c80f5;
}

.feedBack {
  display: flex;
  height: 48px;
  background: #5b5f63 !important;
  border: 2px solid #5b5f63;
  border-radius: 5px;
}


.feedBack p {
  font-size: 10px;
  margin: auto;
  color: white;
}

@media (min-width: 992px) {
  .booking_wrapper {
    display: flex;
    flex-direction: row;
  }

  .bookingcomponent {
    width: 25vw;
    margin-left: auto;
    margin-right: 1rem;
  }
}

.showingLine {
  border-top: 2px solid #ffffff;
  margin-left: 100px; 
  margin-right: 100px;
  margin-top: 20px;
}


.toggleText {
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  justify-content: center;
}


.formContainer {
  margin-top: 20px;
}

.showingLine {
  border-top: 2px solid #ffffff;
  margin-left: 100px; 
  margin-right: 100px;
  margin-top: 20px;
}

.showing_info {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}