.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.confirmationContainer {
  margin-top: 50px;
}

.button {
    display: block;
    border: solid 1px white;
    margin-left: 0.5rem;
    padding: 5px 20px;
    max-width: 200px;
    margin-top: 50px;
}

.button:hover {
    background: white;
    color: black;
}

