.footerInfo {
  display: grid;
  justify-content: center;
  height: 100px;
  font-size: 1rem;
  margin-bottom: 20px;
}

img {
  height: 70px;
  width: 70px;
}

.footerText {
  display: flex;
}

p {
  margin-left: 20px;
  cursor: pointer;
}

button {
  border: none;
}

.footerLogo {
  display: flex;
  justify-content: center;
}

.icons {
  height: 25px;
  width: 25px;
}

.instaIcon {
  margin-top: 1px;
  height: 27px;
  width: 30px;
  margin-left: 5px;
}