
.loginform {
  width: 33%;
  margin: auto;
}

.header {
  font-size: 10rem;
  font-family: "Roboto", sans-serif;
}

.inputField {
  border: 1px black;
}


.errorBox {
  display: none;
}

.errorBox.active {
  display: block;
}

.errorBox.inactive {
  display: none
}

.singInButton {
  background-color: #fd0000 ;
  margin-top:2rem;
  width: 70%;
  border: none;
}

/* LoginPage.js style*/
.containerStyle{
  min-height: 80vh;
}
.toggleText{
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

.toggleText:hover{
  color:#FE7F50
}