.navbar {
    display: flex;
    padding: 20px 20px 20px;
    align-items: flex-end;
  }

  .collapse {
    color: red;
    background-color: blue;
  }
  
  .link {
    color: white;
    font-size: 1.1rem;
    margin: 0 1rem;
  }
  
  .link:hover {
    color: gray;
    border-bottom: 2px solid black;
    text-decoration: none;
  }
  
  /* .linkLogIn {
    margin-right: 0 !important;
  } */
  
  .logo {
    transition: transform 0.2s;
    cursor: pointer;
    width: 40px;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }

  .myNav {
    top: 70px !important;
    position: absolute !important;
    right: 0;
    z-index: 10;
  }
  
  @media (min-width: 576px) { 
    .myNav {
      position: static !important;
    }
  }