.form {
  width: 300px;
  margin: 30px auto 30px;

}

.searchInput {
  display: block;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  font-size: 1.1rem;
  color: white;
  width: 100%;
  /* margin: 0 auto 30px; */
}

@media only screen and (min-width: 700px) {
  .form {
    width: 620px;
  }
}
@media only screen and (min-width: 900px) {
  .form {
    width: 520px;
  }
}
