/*
grey #77818D
red #E4263E 
blue #4387FC
*/

.seatingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  width: 100%;
  padding-top: 25px;
}

.seatingWrapper:before {
  content: " ";
  padding: 3px;
  border-radius: 2px;
  width: 50%;
  margin: 1em 0 30px 0;
  background: #ffffff;
  box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 4px rgb(255, 255, 255);
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rowNumber {
  color: white;
  padding: 10px;
  margin: 0px;
}

.seat, .open {
  border-bottom: 5px solid #77818d;
  border-left: 5px solid #77818d;
  border-right: 5px solid #77818d;
  padding: 7px;
  margin: 7px;
}

.bookedSeat, .booked {
  border-bottom: 5px solid #e4263e;
  border-left: 5px solid #e4263e;
  border-right: 5px solid #e4263e;
  padding: 7px;
  margin: 7px;
}

.reservedSeat, .reserved {
  border-bottom: 5px solid #4387fc;
  border-left: 5px solid #4387fc;
  border-right: 5px solid #4387fc;
  padding: 7px;
  margin: 7px;
}

.openSeat:hover {
  cursor: pointer;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.reservedSeat:hover {
  cursor: pointer;
  border-bottom: 5px solid #4387fc;
  border-left: 5px solid #4387fc;
  border-right: 5px solid #4387fc;
}

.rowNumber {
  font-size: 10px;
  color: white;
  padding: 10px;
  margin: 0px;
}

/* Styles for legend */

.legend {
  display: flex;
  margin: 2em 0;
}

.helper {
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 5px;
}

.open {
  border-left: 5px solid #77818d;
  border-bottom: 5px solid #77818d;
  border-right: 5px solid #77818d;
  padding: 7px;
}

.reserved {
  border-bottom: 5px solid #4387fc;
  border-left: 5px solid #4387fc;
  border-right: 5px solid #4387fc;
  padding: 7px;
}

.booked {
  border-bottom: 5px solid #e4263e;
  border-left: 5px solid #e4263e;
  border-right: 5px solid #e4263e;
  padding: 7px;
}

.helper p {
  font-size: 12px;
  margin: 0 5px 0 5px;
}

@media only screen and (min-width: 600px) {
  .seatingWrapper {
    max-width: 740px;
    padding-top: 75px;
  }
  .seatingWrapper:before {
    min-width: 40%;
  }
  .rowNumber {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .seatingWrapper {
    margin-right: auto;
    margin-left: 1rem;
  }
}