/*Desktop first*/

.registerform {
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.container {
  justify-content: center !important;
}

.registerformtext {
  display: flex;
  justify-content: center !important;
}

.header {
  font-size: 8rem;
  text-align: center !important;
  align-content: center;
}

.regarea {
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
}

.registerformShowing {
  width: 25%;
  margin: auto;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 600px) {
  .header {
    font-size: 3rem;
  }
  .registerform {
    width: 100%;
    padding: 2rem;
  }

  .registerformShowing{
    width: 60%;
    background: #dc3545;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 8rem;
  }
  .registerform {
    width: 50%;
    padding: 2rem;
  }

  .registerformShowing{
    width:35%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .registerform {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .registerform {
    width: 50%;
  }
}
.inputField {
  border: 1px black;
}

.errorBox {
  display: none;
}

.errorBox.active {
  display: block;
}

.errorBox.inactive {
  display: none;
}

.registerButton,
.Button {
  background-color: #dc3545;
  margin-top: 2rem;
  width: 100%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border: none;
  justify-content: center !important;
  text-align: center !important;
  align-content: center !important;
}

.containerStyle {
  width: 100%;
}

.registercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background-color: #000000;
}
.toggleText {
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}



.rules {
  list-style: none;
  font-size: 10px;
  margin-top: 15px;
  padding-left: 0;
  text-align: left;
  display: inline-block;
  line-height: 20px;
}

