.container{
  background: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  width: 100vw;
  margin: auto;
}

.info,
.showings{
  background: lightgray;
  width: 100%;
  padding: 1rem 0rem;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.showings{
  background: rgb(173, 173, 173);
}

.primaryButton{
  width: 7rem;
  height: 2rem;
  font-weight: bold;
  font-size: 1rem;
}

.buttonContainer{
  display: flex;
}