.container{
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

.info,
.showings{
  background: lightcoral;
  width: 100%;
  padding: 1rem 0rem;
}

.showings{
  background: lightgoldenrodyellow;
}