.seatingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seat {
  border-bottom: 8px solid black;
  border-left: 8px solid black;
  border-right: 8px solid black;
  padding: 10px;
  margin: 10px;
}

.bookedSeat {
  border-bottom: 8px solid red;
  border-left: 8px solid red;
  border-right: 8px solid red;
}

.reservedSeat {
  border-bottom: 8px solid yellow;
  border-left: 8px solid yellow;
  border-right: 8px solid yellow;
}

.openSeat:hover,
.reservedSeat:hover {
  cursor: pointer;
  border-bottom: 8px solid yellow;
  border-left: 8px solid yellow;
  border-right: 8px solid yellow;
}
