html, body{
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');
* {
  background-color: #000;
  color: #fff;
  font-weight: 700;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Styling for pagination */
.page-item.active .page-link  {
  background-color: #e21b33 !important;
  border-color: #e21b33 !important;
  color: #fff !important;
}

.page-link {
  color: #000 !important;
}